{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login Page{% endblock %}

{% block content %}

<h3>Login</h3>
<div class="row">
    <div class="col-4">
        <form method="post">
            {% csrf_token %}
            {{ login_form | crispy }}
            <button class="btn btn-primary">Log in</button>  <span class="ms-3">No account? Then, <a href="{% url 'users:register' %}">get registerad</a></span>
        </form>
    </div>
</div>


{% endblock %}