{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}

<div class="image d-flex flex-column justiufy-content-center align-items-center">
    <button class="btn btn-secondary">
        <img class="profile-pic" alt="profile picture" src="{{ user.profile_picture.url }}">
    </button>
    <span class="name mt-3">{{ user.first_name }} {{ user.last_name }}</span>
    <span class="iid">@{{ user.username }}</span>
    <span class="iid">{{ user.email }}</span>
    <div class="d-flex mt-2"><button class="btn1 btn-dark" ><a href="{% url 'users:profile_edit' %}">edit profile</a></button> </div>
    <div class="px-2 rounded mt-4 date "> <span class="join">Joined {{ user.date_joined | date:"M d, Y"}}</span></div>

</div>
{% endblock %}
