{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block content %}
   <h3>Profile Edit</h3>
<div class="row">
   <div class="col-4">
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            {{ form | crispy }}

            <button type="button" class="btn btn-primary">save changes</button>
        </form>
   </div>
</div>



{% endblock %}