{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register Page{% endblock %}

{% block content %}

    <h3>Register</h3>
<div class="row">
    <div class="col-4">
            <form action="{% url 'users:register' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}

                {{ form | crispy }}

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
    </div>
</div>


{% endblock %}
