<!DOCTYPE html>
{% load static %}
{% url 'home_page' as home_page_url %}
{% url 'books:list' as books_page_url %}
{% url 'users:profile' as profile_page_url %}
{% url 'users:profile_edit' as profile_edit_page_url  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookreads{% endblock %}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="mx-4">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'landing_page' %}">Bookreads</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link {% if request.path == home_page_url %} active {% endif %}" aria-current="page" href="{{ home_page_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == books_page_url %} active {% endif %}" aria-current="page" href="{{ books_page_url }}">Books</a>
        </li>
      </ul>

          <div>
              {% if request.user.is_authenticated %}
                    <ul class="navbar-nav me-5" >
                          <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if request.path == profile_page_url or request.path == profile_edit_page_url %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {{ request.user.username }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{{ profile_page_url }}">profile</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a></li>
                                </ul>
                          </li>
                    </ul>
              {% else %}
                    <a class="btn btn-info" href="{% url 'users:login' %}">Login</a>
              {% endif %}
          </div>
    </div>
  </div>
</nav>


<div class="container">
    {% if messages %}
         {% for message in messages %}
             <div class="mt-3">
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
             </div>
         {% endfor %}

    {% endif %}
</div>


{% block content %}{% endblock %}

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>