{% extends "base.html" %}

{% block content %}
    <h1>Landing Page</h1>

    <p>This group is just for people who love books such as The Hunger Games, Divergent, Harry Potter,
        Percy Jackson ,and more! Have fun reading and discussing books with the other members and
        voting on polls.Set in the nineteenth century, World Odyssey (The World Duology, #1) follows
        the fortunes of three young travelers as each embarks on an epic journey. Their dramatic adventures
        span sixteen years and see them engage with Native American Indians, Barbary Coast pirates, Aborigines,
        Maoris and Pacific Islanders as they travel around the world – from America to Africa, from England to the
        Canary Islands, to Australia, New Zealand and Samoa.
        Ambitious American adventurer Nathan Johnson’s journey begins when he runs away to sea to escape a violent
        father. After surviving a shipwreck and enslavement by one of the indigenous tribes of America’s northwest,
        his stocks rise and he becomes a successful trader. When Nathan decides to visit Fiji to trade muskets to the natives,
        he doesn’t know it but his fortunes are about to change again.
    </p>

{% endblock %}
