{% extends 'base.html' %}
{% block title %} Delete page {% endblock %}
{% block content %}
<h3>Are you sure you want to delete this review?</h3>

<p>
    <b>Book:</b> {{ book.title }}
</p>
<p>
    <b>Comment:</b> {{ review.comment }}
</p>
<a href="{% url 'books:delete_review' book.id review.id %}" class="btn btn-outline-danger">Yes</a>  <a href="{% url 'books:detail' book.id %}" class="btn btn-outline-primary">No</a>
{% endblock %}