{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Edit review {% endblock %}

{% block content %}
    <h3>Edit review</h3>
    <div class="row mb-5 ">
        <div class="col-6">
            <form method="post" action="{% url 'books:edit_review' book.id review.id %}">
                {% csrf_token %}
                {{ review_form | crispy }}
            <button class="btn btn-success">Save</button>
            </form>


        </div>
    </div>

{% endblock %}